%p#notice= notice
.wrapper
  .main-title
    =t'.Welcome to Japan'
  .main-menu
    .main-menu-title
      =t'.Menu'
    .main-menu-items
      %ol
        %li 
          =t'.Eating'
        %li 
          =t'.Shopping'
        %li 
          =t'.Bathing(Hot spring)'
        %li 
          =t'.Traveling(Transport)'
        %li 
          =t'.Invited(House party)'
          
    .main-menu-comments
      = link_to 'New Comment', new_comment_path
  .contents
  
    - @comments.each do |comment|
      %tr
        %td= comment.name
        %td= comment.content
        %td= link_to 'Show', comment
        %td= link_to 'Edit', edit_comment_path(comment)
        %td= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }
